In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('') \
    .getOrCreate()

24/03/29 22:31:04 WARN Utils: Your hostname, robert-MS-7B84 resolves to a loopback address: 127.0.1.1; using 192.168.1.6 instead (on interface enp27s0)
24/03/29 22:31:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/29 22:31:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet

--2024-03-29 22:31:15--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.172.15.53, 18.172.15.136, 18.172.15.60, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.172.15.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 308924937 (295M) [application/x-www-form-urlencoded]
Saving to: ‘fhvhv_tripdata_2021-01.parquet’

fhvhv_tripdata_2021 100%[===================>] 294.61M  14.6MB/s    in 22s

2024-03-29 22:31:39 (13.1 MB/s) - ‘fhvhv_tripdata_2021-01.parquet’ saved [308924937/308924937]

In [4]:
!wc -l fhvhv_tripdata_2021-01.parquet

1006794 fhvhv_tripdata_2021-01.parquet

In [5]:
df = spark.read \
    .option("header", "true") \
    .parquet("fhvhv_tripdata_2021-01.parquet")

In [33]:
from pyspark.sql.functions import col

# Clean and convert the column to DoubleType
df = df.withColumn("originating_base_num", col("originating_base_num").cast("double"))

In [33]:
from pyspark.sql.functions import col

# Clean and convert the column to DoubleType
df = df.withColumn("originating_base_num", col("originating_base_num").cast("double"))

In [44]:

from pyspark.sql.types import TimestampType

# Clean and convert the column to TimestampType
df = df.withColumn("on_scene_datetime", col("on_scene_datetime").cast(TimestampType()))

In [45]:
df.write\
.option("header","true")\
.csv("fhvhv_tripdata_2021-01")

In [36]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('originating_base_num', DoubleType(), True), StructField('request_datetime', TimestampType(), True), StructField('on_scene_datetime', TimestampType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('trip_miles', DoubleType(), True), StructField('trip_time', LongType(), True), StructField('base_passenger_fare', DoubleType(), True), StructField('tolls', DoubleType(), True), StructField('bcf', DoubleType(), True), StructField('sales_tax', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('airport_fee', DoubleType(), True), StructField('tips', DoubleType(), True), StructField('driver_pay', DoubleType(), True), StructField('shared_request_flag', StringType(), True), StructField('shared_match_flag', StringType(), True), StructField('access_a_ride_flag', StringType(), True), StructField('wav_request_flag', StringType(), True), StructField('wav_match_flag', StringType(), True)])

In [37]:
!head -n 101 fhvhv_tripdata_2021-01/part-00001-f1ab48fa-e3c4-4d04-a63b-996e7cc8430f-c000.csv > head.csv

In [38]:
!wc -l  head.csv

101 head.csv

In [39]:
import pandas as pd

In [40]:
df_pandas = pd.read_csv("head.csv")

In [41]:
df_pandas.head(5)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02682,NaN,2021-01-01T08:28:09.000+08:00,2021-01-01T08:31:42.000+08:00,2021-01-01T08:33:44.000+08:00,2021-01-01T08:49:07.000+08:00,230,166,5.26,...,1.98,2.75,NaN,0.00,14.99,N,N,NaN,N,N
1,HV0003,B02682,NaN,2021-01-01T08:45:56.000+08:00,2021-01-01T08:55:19.000+08:00,2021-01-01T08:55:19.000+08:00,2021-01-01T09:18:21.000+08:00,152,167,3.65,...,1.63,0.00,NaN,0.00,17.06,N,N,NaN,N,N
2,HV0003,B02764,NaN,2021-01-01T08:21:15.000+08:00,2021-01-01T08:22:41.000+08:00,2021-01-01T08:23:56.000+08:00,2021-01-01T08:38:05.000+08:00,233,142,3.51,...,1.25,2.75,NaN,0.94,12.98,N,N,NaN,N,N
3,HV0003,B02764,NaN,2021-01-01T08:39:12.000+08:00,2021-01-01T08:42:37.000+08:00,2021-01-01T08:42:51.000+08:00,2021-01-01T08:45:50.000+08:00,142,143,0.74,...,0.70,2.75,NaN,0.00,7.41,N,N,NaN,N,N
4,HV0003,B02764,NaN,2021-01-01T08:46:11.000+08:00,2021-01-01T08:47:17.000+08:00,2021-01-01T08:48:14.000+08:00,2021-01-01T09:08:42.000+08:00,143,78,9.20,...,2.41,2.75,NaN,0.00,22.44,N,N,NaN,N,N

In [42]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
originating_base_num    float64
request_datetime         object
on_scene_datetime        object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
trip_miles              float64
trip_time                 int64
base_passenger_fare     float64
tolls                   float64
bcf                     float64
sales_tax               float64
congestion_surcharge    float64
airport_fee             float64
tips                    float64
driver_pay              float64
shared_request_flag      object
shared_match_flag        object
access_a_ride_flag       object
wav_request_flag         object
wav_match_flag           object
dtype: object

In [43]:
spark.createDataFrame(df_pandas).schema

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

TypeError: field on_scene_datetime: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>