In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

24/04/11 20:13:25 WARN Utils: Your hostname, robert-MS-7B84 resolves to a loopback address: 127.0.1.1; using 192.168.1.6 instead (on interface enp27s0)
24/04/11 20:13:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/04/11 20:13:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Firstly, you can create a PySpark DataFrame from a list of rows

In [2]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [3]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

#### Create a PySpark DataFrame with an explicit schema.

In [4]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [5]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

#### Create a PySpark DataFrame from a pandas DataFrame

In [6]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [7]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

##### The DataFrames created above all have the same results and schema.

In [8]:
# All DataFrames above result same.
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [9]:
dates = pd.date_range('20130101', periods=6)

In [14]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

### Object Creation

In [17]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [18]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [19]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [20]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [21]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [22]:
dates = pd.date_range('20130101', periods=6)

In [23]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [25]:
pdf

                   A         B         C         D
2013-01-01  0.590345 -1.161644 -1.168210 -0.229090
2013-01-02  0.674923 -1.009977  1.542269 -0.770828
2013-01-03 -0.162575 -0.333128 -0.603517  1.254379
2013-01-04  0.524235  0.595403 -0.056321  0.672009
2013-01-05  0.536732 -0.453081  0.567610  1.007884
2013-01-06  2.869331 -0.263593 -1.482112  0.085882

In [26]:
psdf = ps.from_pandas(pdf)

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [27]:
type(psdf)

pyspark.pandas.frame.DataFrame

In [28]:
psdf

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D
2013-01-01  0.590345 -1.161644 -1.168210 -0.229090
2013-01-02  0.674923 -1.009977  1.542269 -0.770828
2013-01-03 -0.162575 -0.333128 -0.603517  1.254379
2013-01-04  0.524235  0.595403 -0.056321  0.672009
2013-01-05  0.536732 -0.453081  0.567610  1.007884
2013-01-06  2.869331 -0.263593 -1.482112  0.085882

#### Creating a Spark DataFrame from pandas DataFrame

In [29]:
spark = SparkSession.builder.getOrCreate()

In [30]:
sdf = spark.createDataFrame(pdf)

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [31]:
sdf.show()

+-------------------+--------------------+--------------------+-------------------+
|                  A|                   B|                   C|                  D|
+-------------------+--------------------+--------------------+-------------------+
| 0.5903453777594386| -1.1616440178304095| -1.1682103336213616|-0.2290901777234602|
| 0.6749229542255529| -1.0099774885570554|  1.5422686756029582| -0.770828189148863|
|-0.1625745418268508| -0.3331283345036822| -0.6035167693340339| 1.2543788564291432|
| 0.5242354323469349|  0.5954027955747927|-0.05632125587877572| 0.6720089297451262|
| 0.5367321469521629| -0.4530811699905127|  0.5676097613884826|  1.007883755886765|
|  2.869330751995129|-0.26359304327121635|  -1.482112012391641|0.08588175489300086|
+-------------------+--------------------+--------------------+-------------------+

#### Creating pandas-on-Spark DataFrame from Spark DataFrame.

In [32]:
psdf = sdf.pandas_api()

In [33]:
psdf

          A         B         C         D
0  0.590345 -1.161644 -1.168210 -0.229090
1  0.674923 -1.009977  1.542269 -0.770828
2 -0.162575 -0.333128 -0.603517  1.254379
3  0.524235  0.595403 -0.056321  0.672009
4  0.536732 -0.453081  0.567610  1.007884
5  2.869331 -0.263593 -1.482112  0.085882

In [34]:
psdf.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [35]:
psdf.head()

          A         B         C         D
0  0.590345 -1.161644 -1.168210 -0.229090
1  0.674923 -1.009977  1.542269 -0.770828
2 -0.162575 -0.333128 -0.603517  1.254379
3  0.524235  0.595403 -0.056321  0.672009
4  0.536732 -0.453081  0.567610  1.007884

In [36]:
psdf.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [37]:
psdf.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
psdf.to_numpy()

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([[ 0.59034538, -1.16164402, -1.16821033, -0.22909018],
       [ 0.67492295, -1.00997749,  1.54226868, -0.77082819],
       [-0.16257454, -0.33312833, -0.60351677,  1.25437886],
       [ 0.52423543,  0.5954028 , -0.05632126,  0.67200893],
       [ 0.53673215, -0.45308117,  0.56760976,  1.00788376],
       [ 2.86933075, -0.26359304, -1.48211201,  0.08588175]])

In [39]:
psdf.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.838832 -0.437670 -0.200047  0.336706
std    1.039672  0.626160  1.130437  0.776492
min   -0.162575 -1.161644 -1.482112 -0.770828
25%    0.524235 -1.009977 -1.168210 -0.229090
50%    0.536732 -0.453081 -0.603517  0.085882
75%    0.674923 -0.263593  0.567610  1.007884
max    2.869331  0.595403  1.542269  1.254379

In [40]:
psdf.T

/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/robert/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

          0         1         2         3         4         5
A  0.590345  0.674923 -0.162575  0.524235  0.536732  2.869331
B -1.161644 -1.009977 -0.333128  0.595403 -0.453081 -0.263593
C -1.168210  1.542269 -0.603517 -0.056321  0.567610 -1.482112
D -0.229090 -0.770828  1.254379  0.672009  1.007884  0.085882